label {
    font-weight: normal;
}
input[type=checkbox], input[type=radio] {
    margin-right: 5px;
}
input[type=text] {
    margin-left: 5px;
    margin-right: 5px;
}
.question {
    padding-bottom: 10px;
}